/*---------------------General---------------------------*/
*{
    font-family: 'Patua One', cursive,Arial,sans-serif;
    margin: 0;
    padding: 0;
}
/*-------------------ProjectsPage-----------------------*/
/*------------------Navigation Section----------------*/
.nav-section a{
    text-align: right;
    text-decoration: none;
    padding: 14px 30px;
    text-align: center;
    color: black;
 }
 .nav-section{
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     height: 7vh; 
 }
/*---------------------Main Section------------------*/

.main-content-heading h1{
    text-align: center;
    margin-top: 5vh;
    letter-spacing: 2px;
}
.main-content :first-child{
    margin-top: 2vh;
}

.main-content p{
    margin: auto;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
}
#intern-shopclues{
    text-decoration: underline;
    font-family: '
}





