/*---------------------General---------------------------*/
*{
    font-family: 'Patua One', cursive,Arial,sans-serif;
    margin: 0;
    padding: 0;
}
/*-------------------ProjectsPage-----------------------*/
/*------------------Navigation Section----------------*/
.nav-section a{
    float: right;
    text-decoration: none;
    padding: 14px 30px;
    text-align: center;
    color: black;
 }
 .nav-section{
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     height: 7vh; 
 }

/*------------------Heading Section------------------*/
 .heading-section {
     text-align: center;
     margin-top: 5vh;
 }
 .heading-section h1{
     letter-spacing: 2px;
 }
 .heading-section p{
     margin-top: 2vh;
     font-family: Arial, Helvetica, sans-serif;
 }
/*------------------Projects Section-----------------*/
.project-section img{
    width:50vh;
    height:35vh;
    float: left;
}
.project-section{
    margin-top: 10vh;
    
}
.project-content{
   
    
}











